<div *ngIf="pokemon" class="pokemon-card">
  <div class="banner">
    <h3 class="pokemon-text">Pokémon</h3>
    <img
      class="pokemon-img"
      src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{
        pokemon.url | slice: 33 | slice: 0:-1
      }}.png"
    />
  </div>
  <h3 class="pokemon-name">
    {{ (pokemon.name | uppercase | slice: 0:1) + (pokemon.name | slice: 1) }}
  </h3>
  <button (click)="onDelete(pokemon)" class="remove-button">
    <span class="material-icons caught"> close </span>
  </button>
</div>
