.pokemon-card {
  width: 220px;
  border-width: 4px;
  border-color: black;
  height: 300px;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

.pokemon-card:hover {
  cursor: pointer;
  margin-top: -8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.banner {
  height: 85px;
  width: 100%;
  padding-top: 0px;
  background-color: rgb(42, 117, 187, 1);
  background-size: cover;
  background-position: center;
  border-bottom-width: 4px;
  border-bottom-color: black;
}

.pokemon-img {
  height: 153px;
  width: 153px;
  margin: auto;
  margin-top: 6px;
  background-size: cover;
  background-position: center;
  background-color: rgba(188, 0, 45, 1); 
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 100%;
}
.pokemon-name,
.pokemon-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  margin-top: 138px;
  font-size: 30px;
  color: rgb(55, 40, 40);
}

.pokemon-text {
  font-family: "Pokemon Solid", sans-serif;
  margin-top: -5px;
  font-size: 45px;
  color: rgb(255, 203, 5);
}
.remove-button {
  display: flex;
  height: 50px;
  width: 50px;
  margin-left: 182px;
  padding: 0;
  border-width: 3px;
  border-color: black;
  border-radius: 5px;
  background-color: rgb(255, 5, 5);
}

.remove-button:hover {
  cursor: pointer;
  margin-top: -3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
