<div class="login-container">
  <div class="content-container">
    <img src="/assets/pokemonlogo.png" />
    <form class="form" #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
      <input ngModel #username="ngModel" id="username" name="username" type="text"placeholder="Enter trainer name!" autocomplete="off" />
      <button id="create-trainer" class="create-trainer-button" type="submit">
        Create Trainer
      </button>
    </form>
  </div>
</div>
