.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-container {
  width: 200vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.please-add-text-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    margin: auto;
  width: 400px;
  padding: 12px 20px;
  align-content: center;
  box-sizing: border-box;
  border-style: solid;
  border-color: rgb(42, 117, 187, 1);
  border-width: 5px;
  border-radius: 10px;
  align-items: center;
  margin-top: 40px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  font-size: 22px;
}

input[type="text"]:focus {
  outline: none;
  background-color: white;
}

input::placeholder {
  text-align: center;
  font-size: 22px;
}

input:focus::placeholder {
    color: transparent;
}

.font-pokemon-header {
  font-family: "Pokemon Solid", sans-serif;
  font-weight: 100;
  font-size: 30px;
  padding: 20px;
  color: rgb(255, 203, 5);
}
img {
  width: 40em;
  padding: 2em;
}
.create-trainer-button {
  width: 400px;
  padding: 20px;
  background-color: rgb(112, 200, 160);
  border-radius: 10px;
  margin: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 30px;
}
#create-trainer:hover {
  color: rgb(255, 203, 5);
}
