.font-pokemon-header{
    font-family: "Pokemon Solid", sans-serif;
    font-weight: 100;
    font-size: 30px;
    color: rgb(255, 203, 5);
}
nav{
    background-color: rgb(42, 117, 187, 1);
    width:100%;
    position: fixed;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}
.font-pokemon-small{
    font-family: "Pokemon Solid", sans-serif;
    font-weight: 100;
    font-size: 30px;
    color: rgb(2, 73, 179);
}
.pokedex{
    color:rgb(207, 73, 20)
}
a:hover {
    color: rgb(255, 203, 5);
}