<nav >
    <span class="font-pokemon-header">Pokémon Trainer App</span>
    
    <a routerLink="/trainer" class="font-pokemon-small">Trainer Page</a>

    <a (click)="logOut()" routerLink="/" class="font-pokemon-small">[-></a>

    <a routerLink="/catalog" class="font-pokemon-small pokedex">Pokédex</a>
      
</nav>
