<app-navbar></app-navbar>
<main class="poke-cont">
  <ng-container *ngIf="length; then showPokemon; else displayMsg">
  </ng-container>

  <ng-template #showPokemon>
    <div class="poke-grid">
      <div *ngFor="let pokemon of trainer_pokemon">
        <app-caught-content [pokemon]="pokemon"></app-caught-content>
      </div>
    </div>
  </ng-template>
  <ng-template #displayMsg>
    <div class="poke-cont msg">
      <h1 class="please-add-text">
        Add a couple of cards to show them here!
      </h1>
    </div>
  </ng-template>
</main>
