.poke-cont {
  margin: auto;
  padding-top: 75px;
  height: 100vh;
  background-color: rgb(206, 206, 206, 1);
}

.please-add-text {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 0, 0, 0.5);
  font-weight: 700;
  font-size: 30px;
}

.poke-grid {
  padding: 1rem;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 0px;
  row-gap: 1em;
  align-items: center;
  justify-items: center;
  background-color: rgb(206, 206, 206, 1);
}
.message {
  text-align: center;
}
