<button class="add-button" (click)="onCatchClick()">
  <ng-container
    *ngIf="isCaught; then caught; else notCaught"
    class="material-icons"
  >
  </ng-container>

  <ng-template #notCaught>
    <span class="material-icons caught not-caught">
      add_circle
    </span></ng-template
  >
  <ng-template #caught>
    <span class="material-icons caught"> grade </span></ng-template
  >
</button>
