.add-button {
  display: flex;
  height: 50px;
  width: 50px;
  margin-left: 182px;
  padding: 0;
  border-width: 3px;
  border-color: black;
  border-radius: 5px;
  background-color: rgb(255, 203, 5);
}

.add-button:hover {
  cursor: pointer;
  margin-top: -3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.caught {
  color: rgb(0, 182, 0);
  margin-left: 1px;
}

.not-caught {
  color: black;
  margin-left: 1px;
}
